<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Getting Started
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>First App</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Modify App</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>Angular</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>photo-gallery on mobile device</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>github upload</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
  <ion-item>
    <ion-label>github update</ion-label>
    <ion-checkbox color="primary" slot="start"></ion-checkbox>
  </ion-item>
</ion-content>
